Pry_PrestasaludWAP/Web References/WReferenceSMS/WSMPLUSMT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://186.3.87.9/WSMPLUSMT/WSMPLUSMT.php" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://186.3.87.9/WSMPLUSMT/WSMPLUSMT.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://186.3.87.9/WSMPLUSMT/WSMPLUSMT.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="RespuestaMPlus">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:MensajeMplus[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="MensajeMplus">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="descripcion" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegistrarMensajeMTRequest">
    <wsdl:part name="usuario" type="xsd:string" />
    <wsdl:part name="clave" type="xsd:string" />
    <wsdl:part name="trama" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RegistrarMensajeMTResponse">
    <wsdl:part name="return" type="tns:RespuestaMPlus" />
  </wsdl:message>
  <wsdl:portType name="WSMPLUSPortType">
    <wsdl:operation name="RegistrarMensajeMT">
      <documentation>Message Plus MT Register</documentation>
      <wsdl:input message="tns:RegistrarMensajeMTRequest" />
      <wsdl:output message="tns:RegistrarMensajeMTResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSMPLUSBinding" type="tns:WSMPLUSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="RegistrarMensajeMT">
      <soap:operation soapAction="http://186.3.87.9/WSMPLUSMT/WSMPLUSMT.php/RegistrarMensajeMT" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://186.3.87.9/WSMPLUSMT/WSMPLUSMT.php" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://186.3.87.9/WSMPLUSMT/WSMPLUSMT.php" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSMPLUS">
    <wsdl:port name="WSMPLUSPort" binding="tns:WSMPLUSBinding">
      <soap:address location="http://186.3.87.9/WSMPLUSMT/WSMPLUSMT.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>